#footer {
  margin-top: 35px;
  text-align: center;
}

.shadow {
  border-left: 1px solid rgba(0,0,0,.2);
  border-top: 1px solid rgba(0,0,0,.1);
  border-right: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.4);
  box-shadow: 0 10px 6px -6px #777;
}